@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Electrolize&family=Noto+Serif+JP:wght@700&display=swap');

.Tracker {
  background-color: rgba(128, 128, 128, 0.089);
}

.text-center {
font-family: 'Castoro', serif;
}

body {
  padding: 50px;
  border-radius: 10px;
  font-family: 'Castoro', serif;
}

footer {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

Label {
  text-align: right;
}

.add {
  margin-right: 100px;
}

